@font-face {
  font-family: 'RobotoCondensedItalic';
  src: url('RECURSOS/RobotoCondensed-Italic-VariableFont_wght.ttf') format('truetype');
}

body {
  font-family: 'RobotoCondensedItalic', sans-serif;
  background-color: var(--color-cfe6d7); /* Usando variable */
  color: var(--color-cfe6d7); /* Usando variable */
}

.auth-container {
  background-color: var(--color-009072); /* Usando variable */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
}

.auth-container h2 {
  color: #333; /* Mantener negro para contraste */
  text-align: center;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #333; /* Asegurar que el texto de la etiqueta sea visible */
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  color: #333; /* Asegurar que el texto del input sea visible */
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-00788c); /* Usando variable */
  color: var(--color-cfe6d7); /* Usando variable */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
}

.auth-container button:hover {
  background-color: var(--color-ad4e35); /* Usando variable */
}

.auth-link {
  text-align: center;
  margin-top: 16px;
}

.auth-link a {
  color: #333; /* Mantener negro para contraste */
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d32f2f;
  margin-top: 16px;
  text-align: center;
  display: none;
}

.user-info {
    display: flex; /* Cambiado a flex para alinear elementos */
    align-items: center;
    gap: 15px;
}

/* Agrega esto a tu archivo CSS */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-00788c); /* Usando variable */
    color: var(--color-cfe6d7); /* Usando variable */
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.button:hover {
    background-color: var(--color-ad4e35); /* Usando variable */
}

/* Estilo para que coincida con tus otros botones */
form .button {
    margin: 10px 5px;
}